//gitlab.aws.dev/api/v4/packages/npm/:_authToken="${CI_JOB_TOKEN}"
@jasoown:registry=https://gitlab.aws.dev/api/v4/packages/npm/

# @jasoown:registry=https://gitlab.aws.dev/api/v4/projects/87475/packages/npm/
# //gitlab.aws.dev/api/v4/projects/87475/packages/npm/:_authToken="${CI_JOB_TOKEN}"

# @jasoown:registry=https://gitlab.aws.dev/api/v4/projects/87746/packages/npm/
# //gitlab.aws.dev/api/v4/projects/87746/packages/npm/:_authToken="${CI_JOB_TOKEN}"


