*.js
!amzconnect-contact-flows/scripts/export-cli/**/*.js
!amzconnect-contact-flows/scripts/export-cli/utils/*.js
!scripts/*.js
!**/scripts/*.js
!jest.config.js
!export-cli/**/*
*.d.ts
node_modules
**/node_modules
**/.terraform/**/*
**/.terraform*

# CDK asset staging directory
.cdk.staging
cdk.out

# Terraform
.terraform/**/*
terraform.tfstate
terraform.tfstate.backup

# CCAAS Tool Exports
exports/**/*
