#The sections below are critical for the CICD process to be able to find the package registry and authenticate to it.

# Set URL for your scoped packages.
@jasoown:registry=https://gitlab.aws.dev/api/v4/packages/npm/

# Add the token for the scoped packages URL. This will allow you to download
//gitlab.aws.dev/api/v4/packages/npm/:_authToken="${CI_JOB_TOKEN}"

# Add token for uploading to the registry. Replace <your_project_id>
# gitlab.aws.dev/api/v4/projects/87746/packages/npm/:_authToken=${CICD_TOKEN}
@jasoown:registry=https://gitlab.aws.dev/api/v4/packages/npm/
